<div class="modals">
  <%= form_tag do %>
    <div class='pull-left'>
      <div class='formFields name formSet'>
        <label>Your Name</label>
        <%= text_field_tag :name %>
      </div>
      <div class='formFields email formSet'>
        <label>Email</label>
        <%= text_field_tag :email %>
      </div>
      <div class='formFields formSet'>
        <label>Phone Number</label>
        <%= text_field_tag :phone_no %>
      </div>
      <div class='formFields formSet'>
        <label>Skype ID</label>
        <%= text_field_tag :skype_id %>
      </div>        
    </div>
    <div class='pull-left project_consult'>
      <div class= 'formfields pull-left' id='radio_select'>
        <div>
          <div class='consultDiv'></div>
          <%= radio_button_tag(:request_enquiry, "consult",:class => 'select_radio') %>
          <%= label_tag(:request_enquiry, 'WANT TO CONSULT?<br><span class="light">Get a little advice.</span>'.html_safe, {:class => 'pull-left select_label', :id => 'consult', :value => "consult"}) %>
        </div>
        <div>
          <div class='projectDiv'></div>
          <%= radio_button_tag(:request_enquiry, "project",:class => 'select_radio') %>
          <%= label_tag(:request_enquiry, 'HAVE A PROJECT?<br><span class="light">Get a quote.</span>'.html_safe, {:class => 'pull-left select_label', :id => 'project', :value => "project"}) %>
        </div>
      </div>
      <div class= 'formfields pull-left'>
        <div class= 'project'>
          <select>
            <option>10000 USD - 15000 USD</option>
            <option>15000 USD - 20000 USD</option>
            <option>20000 USD - 25000 USD</option>
            <option>25000 USD - 30000 USD</option>
            <option>30000 USD - 35000 USD</option>
          </select>
        </div>
      </div>
      <div class= 'formfields pull-left'>
        <div class= 'common'>
          <%= f.text_area :comment, :placeholder => "Give us a little background", :rows => 4  %>
          <%= f.file_field :file %>
        </div>
      </div> 
    </div>
    <div class='pull-left'>
      <div class='formFields submitBtn'>
        <%= button_tag 'NEXT', :class => 'formSubmit' %>
      </div>
    </div>
  <% end %>
</div>