<div class='flicker span4'>
  <h6>Flickr</h6>
  <div class='flick_content'>
    <%# PHOTOS = [] %>
    <%# flickr = Flickr.new(File.join(Rails.root, 'config', 'flickr.yml')) %>
    <%# PHOTOS = flickr.photos.search(:user_id => "90736693@N05") %>
    <% PHOTOS.sample(7).each_with_index do |photo, index|%>
      <div class='img_block rotate<%=[0,5,10].sample(1).first%>'>
        <%= image_tag photo.url(:small), :id => "flick_#{index}", :class => 'shadow' %>
      </div>
    <% end %>
  </div>
  <div class='see_more_link'>
    <a href='http://www.flickr.com/photos/vinsol/' class='more' target='_blank'><span class="text">SEE MORE</span></a>
  </div>
</div>


<div class='twitter span4'>
  <h6>Twitter</h6>
  <script type="text/javascript" charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script type="text/javascript">
  new TWTR.Widget({
    version: 2,
    type: 'search',
    search: 'from:the_vinsol OR @the_vinsol OR #the_vinsol OR @qwtest32',
    interval: 15000,
    rpp: 2,
    title: '',
    subject: '',
    width: 270,
    height: 190,
    theme: {
      shell: {
        background: 'transparent',  
        color: '#231f20'
      },
      tweets: {
        background: 'transparent',
        color: '#231f20',
        links: '#f78806'
      }
    },
    features: {
      scrollbar: false,
      loop: true,
      live: true,
      avatars: false,
      behavior: 'default'
    }
  }).render().start();
  </script>
  <style type='text/css'>
    #twtr-widget-1 .twtr-tweet .twtr-tweet-text p a:hover{text-decoration:none !important;color:#cd3c21 !important;}
    #twtr-widget-1 .twtr-tweet a.twtr-timestamp, .twtr-reply, .twtr-rt, .twtr-fav{line-height:20px !important;color:#231f20 !important;font-size:8px !important;text-transform:uppercase;letter-spacing:1px;font-family: 'DinBold',Arial,sans-serif !important;}
    #twtr-widget-1 .twtr-tweet a{font-family: 'DinReg',Arial,sans-serif !important;}
    #twtr-widget-1 .twtr-tweet a.twtr-timestamp{color:#231f20 !important;}
    #twtr-widget-1 .twtr-tweet .twtr-tweet-text p em a:hover{text-decoration:none !important;color:#cd3c21 !important;}
    #twtr-widget-1 .twtr-tweet .twtr-tweet-text p em a.twtr-timestamp:hover{color:#231f20 !important;}
    .twtr-ft{display:none;}
    .twtr-doc .twtr-hd{padding-bottom:0px !important;padding-top:5px !important;}
    .twtr-bd p{font-size:14px !important;line-height:20px !important;font-family: 'DinLight',Arial,sans-serif !important;}
    .twtr-timeline .twtr-tweet{line-height:20px !important;padding-bottom:20px;/*margin-bottom:15px;*/border-bottom:none;padding-top:20px}
    
    .twtr-timeline .twtr-tweets div.twtr-tweet:after {padding-top:10px;content: url(<%= asset_path 'tweet_bottom.png' %>);}
    .twtr-timeline .twtr-tweets div#tweet-id-1:after{content:none;}
    .twtr-avatar {display: none !important;}
    .twtr-tweet-text {margin-left:0px !important;}
    .twtr-widget .twtr-tweet-wrap {padding:0px !important;}
    .twtr-timeline{height: 205px !important;}
  </style>
  <div class='see_more_link'>
    <%= link_to '<span class="text">FOLLOW US</span>'.html_safe, "http://www.twitter.com/the_vinsol", :class => 'more', :target => '_blank' %>
  </div>  
  
</div>

<div class='touch span4'>
  <div class='inner'>
    <div class='title'>Get in Touch!</div>
    <div class='data'>
      <!-- Button to trigger modal -->
      <a href="#myModal" class="schedule" data-toggle="modal"></a>
      
      <div>India / <strong>+91-11-45094196</strong></div>
      <div>USA / <strong>+1-415-839-0057</strong></div>
      <div id='info'><%= link_to 'info@vinsol.com', 'mailto:info%40vinsol%2ecom?subject=Hey, Vinsol', :class =>"mailto", :target => '_blank' %></div>
    </div>
    <div class='social'>
      <%= link_to '', 'https://www.facebook.com/thevinsol', :class =>"facebook", :target => :blank %>
      <%= link_to '', 'https://twitter.com/the_vinsol', :class =>"twitter", :target => :blank %>
      <%= link_to '', 'http://feeds2.feedburner.com/Vinsol', :class =>"rss", :target => :blank %>
    </div>
  </div>
</div>


<% content_for :document_ready_js do %>
  $('.flick_content .img_block').each(function(index){
    var order = (($('.flick_content .img_block').length-1) - index);
    var rotationDeg = order*5
    
    
    if(rotationDeg == 0){
      $(this).css('z-index', 1);
    }else{
      $(this).css('z-index', 0);
    }
  });

  setInterval(function() {
    var items = $('.flick_content .img_block');
    var zEle = items[Math.floor(Math.random()*items.length)];
    var maxIndex = getMax();
    var zIndex = maxIndex + 1;
    $(zEle).css('z-index', zIndex);
  },5000);
  
  function getMax(){
    var greatest = 0;
    $('.flick_content .img_block').each(function() {
  		var thisIndex = parseInt($(this).css('z-index'));
  		if(thisIndex > greatest) {
  			greatest = thisIndex;
  		}
  	});
  	return greatest
  }
<% end %>
