<div class='logo span3'>
  <%= link_to "", '/', :class => 'home' %>
</div>

<div class='navigation span5'>
  <ul class="nav nav-tabs">
    <li>
      <%= display :link, :text=>"Link1", :href=>'#', :id => "header_link_1", :class=>"head_nav_link" %>
    </li>
    <li>
      <%= display :link, :text=>"Link2", :href=>'#', :id => "header_link_2", :class=>"head_nav_link" %>
    </li>
    <li>
      <%= display :link, :text=>"Link3", :href=>'#', :id => "header_link_3", :class=>"head_nav_link"%>
    </li>
    <li>
      <%= display :link, :text=>"Link4", :href=>'#', :id => "header_link_4", :class=>"head_nav_link"%>
    </li>
    <li>
      <%= display :link, :text=>"Link5", :href=>'#', :id => "header_link_5", :class=>"head_nav_link last"%>
    </li>
  </ul> 
</div>